{% load staticfiles %} {% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <script src="https://kit.fontawesome.com/bcbd23c1e5.js"></script>

    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>NoteFinder</title>
  </head>

  <body>
    <div id="app">
      <!--Responsável por englobar o app do vue-->
      <!--TITULO-->
      <div class="container-fluid" id="container-top">
        <form action="" v-on:submit.prevent="freesearch()">
          <div class="row">
            <div class="col-sm-4" id="title-site">
              <img src="{% static 'img/icon_lupa.png' %}" alt="Lupa" width="40" />
              <a href="{% url 'home' %}">
                <span class="note">Note</span>
                <span class="finder">Finder</span>
              </a>
            </div>
            <div class="col-sm-3">
              <input v-model="text_free_search" class="form-control form-control-sm" type="text" placeholder="Search" />
            </div>
            <div class="col-sm-1 ">
              <button @click="freesearch()" class="btn btn-sm btn-primary container-fluid" type="submit">
                <i class="fas fa-search"></i><span class="glyphicon glyphicon-search"></span>
              </button>
            </div>
          </div>
        </form>
      </div>
      <!--FORM-->
      <div id="section1">
        <div class="container" id="container-form">
          <form action="" method="GET">
            <!-- {% csrf_token %}   -->
            <div class="row">
              <!--Linha-->
              <!--primeira coluna-->
              <div class="col-sm-3">
                <div class="block-select ">
                  <div class="input-group input-group-sm" v-on:mouseover="mouse_in('image3')" v-on:mouseout="mouse_out('image3')">
                    <div class="input-group-prepend">
                      <label data-toggle="tooltip" data-placement="top" title="Monitor onde são exibidas as tarefas que estão sendo executadas." class="input-group-text "
                        >Screen</label
                      >
                    </div>
                    <select @change="search(selects.screen)" v-model="selects.screen" class="form-control form-control-sm custom-select">
                      <option v-for="screen in sources.screen">[[ screen ]] </option>
                    </select>
                  </div>
                </div>
                <div class="block-select">
                  <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                      <label
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Responsável pelo armazenamento temporário de informações no notebook, quanto mais melhor."
                        class="input-group-text "
                        >RAM</label
                      >
                    </div>
                    <select
                      @change="search(selects.ram)"
                      v-model="selects.ram"
                      v-on:mouseover="mouse_in('image2')"
                      v-on:mouseout="mouse_out('image2')"
                      class="form-control form-control-sm"
                    >
                      <option v-for="ram in sources.ram">[[ ram ]] </option>
                    </select>
                  </div>
                </div>
                <div class="block-select">
                  <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                      <label data-toggle="tooltip" data-placement="top" title="Responsável pelo processamento das tarefas do notebook." class="input-group-text ">CPU</label>
                    </div>
                    <select
                      @change="search(selects.cpu)"
                      v-model="selects.cpu"
                      v-on:mouseover="mouse_in('image1')"
                      v-on:mouseout="mouse_out('image1')"
                      class="form-control form-control-sm"
                    >
                      <option v-for="cpu in sources.cpu">[[ cpu ]] </option>
                    </select>
                  </div>
                </div>
              </div>
              <!--segunda coluna-->
              <div class="col-sm-6">
                <div class="container-fluid">
                  <ul id="ul_filters">
                    <li v-for="filter in filters">[[ filter ]]</li>
                  </ul>
                </div>
                <div class="container" id="container-background">
                  <img :style="styles.background" id="imageCenter" src="{% static 'img/notebook.png' %}" alt="" />
                  <img :style="styles.image1" id="image1" src="{% static  'img/processador.png' %}" alt="" />
                  <img :style="styles.image2" id="image2" src="{% static  'img/memoria.png' %}" alt="" />
                  <img :style="styles.image3" id="image3" src="{% static  'img/tela.png' %}" alt="" />
                  <img :style="styles.image4" id="image4" src="{% static  'img/marca.png' %}" alt="" />
                  <img :style="styles.image5" id="image5" src="{% static  'img/ssd.png' %}" alt="" />
                  <img :style="styles.image6" id="image6" src="{% static  'img/preco.png' %}" alt="" />
                </div>
                <!---->
              </div>

              <!--terceira coluna-->
              <div class="col-sm-3">
                <div class="block-select">
                  <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                      <label data-toggle="tooltip" data-placement="top" title="Fabricante do notebook." class="input-group-text ">Brand</label>
                    </div>
                    <select
                      @change="search(selects.brand)"
                      v-model="selects.brand"
                      v-on:mouseover="mouse_in('image4')"
                      v-on:mouseout="mouse_out('image4')"
                      class="form-control form-control-sm"
                    >
                      <option v-for="brand in sources.brand">[[ brand ]] </option>
                    </select>
                  </div>
                </div>
                <div class="block-select">
                  <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                      <label data-toggle="tooltip" data-placement="top" title="Faixa de preços sugeridas pelos fabricantes e e-commerces." class="input-group-text ">Price</label>
                    </div>
                    <select
                      @change="search(selects.price)"
                      v-model="selects.price"
                      v-on:mouseover="mouse_in('image6')"
                      v-on:mouseout="mouse_out('image6')"
                      class="form-control form-control-sm"
                    >
                      <option v-for="price in sources.price">[[ price ]] </option>
                    </select>
                  </div>
                </div>
                <div class="block-select">
                  <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                      <label
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Responsável pelo armazenamento definitivo do sistema operacional, músicas, vídeos e arquivos em geral"
                        class="input-group-text "
                        >Storage</label
                      >
                    </div>
                    <select
                      @change="search(selects.storage)"
                      v-model="selects.storage"
                      v-on:mouseover="mouse_in('image5')"
                      v-on:mouseout="mouse_out('image5')"
                      class="form-control form-control-sm"
                    >
                      <option v-for="storage in sources.storage">[[ storage ]] </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>

      <a href="#result" ref="container_notebooks"></a
      ><!--link aguarda click do evento de pesquisa, chama o bloco abaixo-->
      <div id="container2" class="container-fluid">
        <h6 v-show="notebooks.length > 0" id="qtd-results">
          [[ notebooks.length ]] Results
        </h6>
        <div class="row" id="result">
          <div class="col-sm-3 col-notebook" v-for="notebook in notebooks">
            <notebook :notebook="notebook"></notebook>
          </div>
        </div>
      </div>

      <my-footer></my-footer>
    </div>

    <!--templates-->

    <template id="footer" v-focus>
      <footer class="page-footer font-small blue" id="my-footer">
        <div class="footer-copyright text-center py-3">
          © 2019 Copyright
          <a href="https://www.facebook.com/suelliton.santos.silva" class="text-primary"> Suéliton Santos</a>
        </div>
      </footer>
    </template>

    <template id="notebook">
      <div class="col-sm-12">
        <div class="card">
          <a :href="[[ notebook.url ]]">
            <img :src="[[ notebook.banner ]]" class="img-notebook" />
          </a>
          <div class="card-body">
            <h5 class="text-price">$[[ notebook.price ]]</h5>
            <a :href="[[ notebook.url ]]">
              <h6>[[ notebook.title ]]</h6>
            </a>
            <p class="card-text">[[ notebook.description ]].</p>
          </div>
        </div>
      </div>
    </template>

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="{% static 'js/app.js' %}"></script>
  </body>
</html>
