{% load static %}
a:link, a:visited {
  color:#111;
	}
a:hover {
	text-decoration: none;
  color: #e84118; 
	}
a:active {
	text-decoration: none
	}

html{
   scroll-behavior: smooth;
}
body {
  background-color: #9c88ff;
  /*background-image: url("/static/img/macro.jpg");*/
  transition: opacity 5s;
}
.note {
  color: rgb(255, 20, 20);
  font-size: 30px;
  font-weight: bolder;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.finder {
  color: rgb(82, 9, 218);
  font-size: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.col-notebook{
  padding-top: 1%;
  padding-bottom: 1%;
  
}

.card-text{
  font-size: 12px; 
}
.card{
  padding: 5px;
   /*background-color: #8c7ae6;*/
   background-color:  #ecf0f1;
   box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}
.card-body{
  padding-right: 5px;
  padding-top: 0px;
  padding-bottom: 0px; 
  padding-left: 10px; 
   height: 140px;
}
.block-select {
  height: 31%;
  padding-left: 15%;
  padding-right: 10%;
  padding-top: 15%;
}


.img-notebook{
  max-width: 300px;
  width: 100%;

}
.card:hover {
  transition: transform .2s;
  transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.text-price{
  color: #e84118;
  font-weight: bolder;
}
#qtd-results{
  color: #ecf0f1;
  margin-left: 3%;
  padding-top: 10px;
  padding-bottom: 5px;
  font-size: 16px;
}
#container2{
  margin-top: 50px;  
  border-width: medium,solid, #8c7ae6;
  background-color: #487eb0;
}
#my-footer{ 
  background-color:#2d3436;
  color: #ecf0f1;
}

#pesquisaLivre {
  padding-top: 2%;
 
}
#title-site {
  padding-left: 10%;
  margin-top: -0.5%;
  margin-bottom: 0.5%;
}
#container-top {
  background-color: #ecf0f1;
  padding-top: 1%;
  
}
#section1{
     /*background-image: url("/static/img/macro.jpg");   */ 
}
#container-form {
  padding-top: 3%;  
}
#results{
   height: 60px;
   color: #ecf0f1;
}

#container-background {
  position: relative;
  width: 100%; /* for IE 6 */
}
#ul_filters {
  padding: 0px;
  margin-top: -5%;
}
#ul_filters li {
  list-style: none;
  display: inline;
  background-color: blueviolet;
  margin-right: 2%;
  padding-right: 1.5%;
  padding-left: 1.5%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  color: white;
}
#imageCenter {
  width: 100%;
  /*filter: blur(8px);*/
  transition: filter 1s;
}
#img-cpu {
  /* processador*/
  position: absolute;
  top: 75%;
  left: 15%;
  width: 15%;
  opacity: 0; /* transparencia*/
  transition: opacity 1s;
}
#img-ram {
  /* memoria*/
  position: absolute;
  top: 55%;
  left: 20%;
  width: 15%;
  opacity: 0; /* transparencia*/
  transition: opacity 1s;
}
#img-screen {
  /* tela*/
  position: absolute;
  top: 0%;
  left: 2.5%;
  width: 95%;
  opacity: 0; /* transparencia*/
  transition: opacity 1s;
}
#img-brand {
  /* marca*/
  position: absolute;
  top: 15%;
  left: 32%;
  width: 35%;
  opacity: 0; /* transparencia*/
  transition: opacity 1s;
}
#img-storage {
  /* disco*/
  position: absolute;
  top: 75%;
  left: 70%;
  width: 13%;
  opacity: 0; /* transparencia*/
  transition: opacity 1s;
}
#img-price {
  /* preco*/
  position: absolute;
  top: 50%;
  left: 45%;
  width: 14%;
  opacity: 0; /* transparencia*/
  transition: opacity 1s;
}

